{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Veja bem ...</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json'%}">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png'%}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'css/theme.css'%}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <!-- ============================================-->
      <!-- <section> Inicio da Primeira NAVBAR ============================-->
      <section class="bg-primary py-2 d-none d-sm-block">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-auto d-none d-lg-block">
              <p class="my-2 fs--1"><i class="fas fa-map-marker-alt me-3"></i><span>Óticas Diniz Vitória</span></p>
            </div>
            <div class="col-auto ms-md-auto order-md-2 d-none d-sm-block">
              <ul class="list-unstyled list-inline my-2">
                <li class="list-inline-item"><a class="text-decoration-none" href="https://www.instagram.com/oticasdinizvitoria/"><i class="fab fa-instagram text-900"> </i></a></li>
              </ul>
            </div>
            <div class="col-auto">
              <p class="my-2 fs--1"><i class="fas fa-envelope me-3"></i><a class="text-900" href="mailto:marketing@dinizvitoria.com.br">marketing@dinizvitoria.com.br</a></p>
            </div>
            <img src="{% static 'img/logodnz.jpeg'%}" id="logodnz">
          </div>
        </div>

      </section>
      <!-- final da Primeira NAVBAR ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- =============Inicio da segunda NAVBAR ==================-->
      <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><img src="{% static 'img/gallery/logo-n.png'%}" height="45" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
              <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="{% url 'historico'%}">Historico</a></li>
           <!--   <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="/">Equipe</a></li>
              <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="/">Campanhas</a></li>
            </ul><a class="btn btn-primary order-1 order-lg-0" href="#!">Login</a>
            <form class="d-flex my-3 d-block d-lg-none">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-primary" type="submit">Procurar</button>
            </form> -->
            <div class="dropdown d-none d-lg-block">
              <button class="btn btn-outline-light ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-800"></i></button>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" style="top:55px">
                <form method="POST" id="searchform" action="{% url 'searchpost'%}">
                  {% csrf_token %}
                  <input class="form-control" type="text" name="search" placeholder="Procure aqui na pagina" aria-label="Search" />
                </form>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <section class="pt-6 bg-600" id="home">
        <div class="container">
          <div class="col mx-auto text-center">
            <img src="{% static 'img/gallery/hero-header.png'%}" id="imgdidi">
          </div>
        </div>
      </section>
      <!-- <section> Final da Segunda NAVBAR ============================-->
      <!-- ============================================-->
        {% block content %}
        {% endblock %}

      <p></p>
      <!-- <section> Fechamento de sessão ============================-->
      <!-- ============================================-->



      <!-- ============================================-->


      <section class="py-0" style="margin-top: -5.8rem;">
        <div class="container bg-primary">
          <div class="row justify-content-md-between justify-content-evenly py-4">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
              <p class="fs--1 my-2 fw-bold"> Todos direitos reservados &copy; Óticas Diniz Vitória, 2021</p>
            </div>
            <div class="col-12 col-sm-8 col-md-6">
              <p class="fs--1 my-2 text-center text-md-end"> Feito por </svg><a class="fw-bold text-900" href="https://themewagon.com/" target="_blank">Marcos Paulo Dias </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js'%}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'vendors/is/is.min.js'%}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js'%}"></script>
    <script src="{% static 'js/theme.js'%}"></script>

    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>