{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> Apresentação do Ultimo post publicado ============================-->
      <section>
        <div class="container">
        <div class="post" id="ultimopost">
            <h1 class="text-center mb-5"> Veja Bem as últimas notícias...</h1>
              <div class="col mx-auto text-center">
                {% for post in post_list %}
                        <p>{{ post.content|safe}}</p>
                {% endfor %}
              </div>
        </div>
        </div>


      </section>
      <p></p>
{% endblock %}