{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> Apresentação do Ultimo post publicado ============================-->
      <section>
        <div class="container">
        <div class="post" id="ultimopost">
            <h1 class="text-center mb-5">Últimas Notícas</h1>
            <div class="container" >
                {% for post in post %}
                     <div class="row" id="content">

                          <div class="col-md-6">
                                    <p>{{ post.col1lin1|safe}}</p>
                          </div>
                          <div class="col-md-6">
                                    <p>{{ post.col2lin1|safe}}</p>
                          </div>
                     </div>
                 {% endfor %}
            </div>
        </div>
        </div>


      </section>
      <p></p>

{% endblock %}
{% block js %}
    <script type="text/javascript">
          $(window).on('load',function(){
          $('#exampleModal').modal('show'); });
    </script>
{% endblock %}