{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> Apresentação do Ultimo post publicado ============================-->
      <section>
        <div class="container">
        <div class="post" id="ultimopost">
              <div class="col mx-auto text-center">
                        <p>{{ post.title}}</p>
                        <p>{{ post.created| date:'d, M Y' }}</p>
                        <p>{{ post.content|safe}}</p>

              </div>
        </div>
        </div>


      </section>
      <p></p>
{% endblock %}