{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> Apresentação do post publicado ============================-->
      <section>
        <div class="container">
          <div class="row">
              {% for post in post %}
            <h1 class="text-center mb-5"> {{ post.title}} </h1>
              <div class="col text-center" >
                  <h6>{{ post.created| date:'d, M Y'}}</h6>
                  <p></p>
                    {{ post.content|safe}}
              {% endfor %}
              </div>
          </div>
        </div>

      </section>
    <p></p>


{% endblock %}