{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- ============================================-->
      <!-- <section> Apresentação do Webinar publicado ============================-->
      <section>
        <div class="container">
          <div class="row">
            <h1 class="text-center mb-5"> Veja Bem esses Webinar's ...</h1>
              {% for webinar in webinar %}
            <div class="col-md-4 mb-4">
               <div class="card h-100"><img class="card-img-top w-100">
                <div class="card-body">
                  <h5 class="font-sans-serif fw-bold fs-md-0 fs-lg-1">{{webinar.title}}</h5>
                    <a class="text-muted fs--1 stretched-link text-decoration-none" href="/webinar/{{webinar.slug}}">{{webinar.summary|safe}}</a>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
      </section>
    <p></p>


{% endblock %}