body {
    background: #ffffff;
}

.container {
    background: #6C7A89;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    background: #ff0000;
    color: black
}

.nav-link {
    background: #ff0000;
    color: black
}

#post {
    width: center;
}